{% extends 'base.html.twig' %}

{% block body %}
    <h1>Busca</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Buscar" />
    {{ form_end(form) }}
{% endblock %}