<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Chamados{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/chamados/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <h1> SAC </h1>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts 'bundles/chamados/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
